.grad {
    background: radial-gradient(#77449d, #2a053a);
    height: 180px;
}
body {
    font-family: Garamond, serif;
}
.address{
    color: #11499e;
    font-size: 25px;    
    text-align: center;
}
.pagename{
    color: #133a74;
}
.content{
    color: #3c77d1;
    text-align: justify;
}
#Title {
    margin-top: 20px;
    color: white;
    font-size: 46px;
    text-align: center;
}
#Subtitle {
    margin-top: -50px;
    color: white;
    font-size: 26px;
    text-align: center;
}
#dept{
    color: black;
    font-size: 26px;
}
.tablecontent{
    margin-left: 225px;
}
table, th, td {
    border: 1px solid;
}
table {
    
    border: 1px solid black;
    border-collapse: collapse;
}
.current{
    background-color: white;
}
.sidebar {

    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 280; /* Stay at the top */
    left: 0;
    background-color: #6a6868; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}
.sidebar a {
    font-size: 22px;
    display: block;
    color: #310f4a;
    padding: 16px;
    text-decoration: none;
    margin-top: -7px;
  }