.grad {
    background: radial-gradient(#77449d, #2a053a);
    height: 180px;
}
body {
    font-family: Garamond, serif;
}
.address{
    color: #11499e;
    font-size: 25px;    
    text-align: center;
}
#Title {
    margin-top: 20px;
    color: white;
    font-size: 46px;
    text-align: center;
}
#Subtitle {
    margin-top: -50px;
    color: white;
    font-size: 26px;
    text-align: center;
}
#dept{
    margin-left: 18px;
    font-size: 26px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #6a6868;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebar a {
    font-size: 22px;
    display: block;
    color: #310f4a;
    padding: 16px;
    text-decoration: none;
    margin-top: -7px;
  }